<div>
  <div class="add-item">
    Add a new item:
    <input [(ngModel)]="newItem" />
    <button (click)="add(newItem)" class="btn btn-primary">Add</button>
  </div>

  <div>
      <div class="frame-item" *ngFor="let item of items">
        <div class="item-controls">
          <span (click)="remove(item)" class="badge badge-warning">X</span>
          <span (click)="moveup(item)" class="badge badge-info">^</span>
        </div>
          <iframe [src]="getSafeUrl(item)"></iframe>
      </div>
      
  </div>   

</div>